.fadeIn {
    animation: fadeIn .3s normal ease;
    
}

.fadeOut {
    animation: fadeOut .3s normal ease;
}

.fadeLeftInBtn {
    animation: fadeLeftInBtnAnim .3s normal ease;

}

.fadeRightInBtn {
    animation: fadeRightInBtnAnim .3s normal ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0, 25%);

    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeLeftInBtnAnim {
    from {
        opacity: 0;
        transform: translate(100%, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeRightInBtnAnim {
    from {
        opacity: 0;
        transform: translate(-100%, 0);

    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}