.banco h1 {
    font-size: var(--fontSizeContent);
    text-align: center;
    margin: var(--fontMargin);

}

.banco h2 {
    margin: 3em var(--marginContent) 20px;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
=================================================
Estilização referente ao componente SaldoInfo
=================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


.saldoInfo__container {
    position: relative;
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 10px var(--marginSaldo);
    background-color: white;
    text-align: center;
    border-radius: var(--borderRadiusFix);
    z-index: 1;
}

.saldoInfo__container .saldoInfo__content {
    position: relative;
    transition: color .9s ease;

}


/* 
===========================================================
APLICAÇÃO DE PSEUDO-ELEMENTOS PARA HOVER
===========================================================
*/

/* Permite que o hover funcione na margin */
.saldoInfo__container .saldoInfo__content::before,
.saldoInfo__container .saldoInfo__content::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    width: var(--marginSaldo);

}

.saldoInfo__container .saldoInfo__content::before {
    right: 100%;
}
.saldoInfo__container .saldoInfo__content::after {
    left: 100%;
}

/* 
===========================================================
FIM
===========================================================
*/

.saldoInfo__container .saldoInfo__content:first-child {
    margin-right: var(--marginSaldo);

}
.saldoInfo__container .saldoInfo__content:nth-child(3) {
    margin-left: var(--marginSaldo);
}

.saldoInfo__container .saldoInfo__content p {
    font-size: 2em;
    margin: 1.65em 0;
}

.saldoInfo__container hr {
    border: 1px solid var(--colorSec);

}

.saldoInfo__container .saldoInfo__hoverColor {
    position: absolute;
    left: 0; bottom: 0; 
    width: 50%;
    height: 5px;
    background-color: var(--colorSec);
    transition: height .5s ease, left .7s ease;
    z-index: -1;
}


.saldoInfo__content:first-child:hover,
.saldoInfo__content:nth-child(3):hover {
    color: white;
}

.saldoInfo__content:first-child:hover ~ .saldoInfo__hoverColor,
.saldoInfo__content:nth-child(3):hover ~ .saldoInfo__hoverColor {
    height: 100%;
    border-radius: var(--borderRadiusFix);

}

.saldoInfo__content:nth-child(3):hover ~ .saldoInfo__hoverColor {
    left: 50%;
    
}


/* 
===========================================================
Animação de arrows para o componente Saldo
===========================================================
*/

.saldoInfo__content .saldoInfo__arrowContainer {
    opacity: 0;
}

.saldoInfo__content:hover .saldoInfo__arrowContainer {
    opacity: 1;
}

.saldoInfo__arrowContainer {
    position: relative;
    transition: opacity .9s;
}

.saldoInfo__arrowContainer .saldoInfo__arrowUp {
    color: rgba(184, 253, 127, 0.5);
    animation-name: arrowUpAnim;
    animation-iteration-count: infinite;
}


.saldoInfo__arrowContainer .saldoInfo__arrowDown {
    color: rgb(253, 127, 127, 0.5);
    rotate: 180deg;
    animation-name: arrowDownAnim;
    animation-iteration-count: infinite;

}


/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
=================================================
Estilização referente ao componente de ações
=================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.action__container {
    display: flex;
    transition: all .4s ease;

}

.action__container .action__content {
    position: relative;
    display: flex;
    background-color: white;
    color: white;
    border-radius: var(--borderRadiusFix);
    margin: var(--marginContent);
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 150px;
    user-select: none;
    transition: background-color .3s ease;
    

}

.action__content .action__cover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: white;
    font-size: 5em;
    color: rgb(209, 209, 209);
    border-radius: var(--borderRadiusFix);
    transition: all .4s ease;

}

.action__content .action__cover .iconCover {
    margin-bottom: 10px;
}

.action__content .action__cover::before {
    content: attr(data-placeholder);
    position: absolute;
    bottom: 0;
    font-size: 0.5em;
    opacity: 0.5;
    transition: opacity .2s ease;
}

.action__content p {
    font-family: var(--fontPrim);
    font-size: large;
    flex: 1;
    align-self: flex-end;
    font-weight: 600;
    text-transform: uppercase;
    
}

.action__content:hover {
    background-color: var(--colorSec);
}

.action__container:has(.action__content:hover) {
    margin-top: 3.5em;

}
 
.action__content:hover .action__cover {
    transform: translateY(-40%);
    color: var(--colorSec);
}

.action__content:hover .action__cover::before {
    opacity: 0;
}



@keyframes arrowUpAnim {
    from {
        transform: translateY(200%);
        opacity: 0;

    } to {
        transform: translateY(-200%);
        opacity: 1;
    }

}

@keyframes arrowDownAnim {
    from {
        transform: translateY(400%);
        opacity: 0;

    } to {
        transform: translateY(0);
        opacity: 1;
    }


}
