@import url(var.css);

.fundosBanco h1{
    font-size: var(--fontSizeContent);
    margin: var(--fontMargin);
    text-align: center;

}

.fundosBanco__container {
    composes: centerAlign from "./var.css";
    font-family: var(--fontPrim);
}

.fundosBanco__content {
    composes: centerAlign from './var.css';
    position: relative;
    background-color: white;
    width: 300px;
    border-radius: var(--borderRadiusFix);
    box-shadow: var(--shadowBox);
    

}

.fundosBanco__content__icon {
    composes: centerAlign from './var.css';
    font-size: 5em;
    color: var(--colorSec);
    margin: 20px;

}

.fundosBanco__contentInfo {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.fundosBanco__contentInfo__desc {
    font-size: 1.25em;
}

.fundosBanco__contentInfo__saldo {
    font-size: 1.65em;
    font-weight: 600;
}

.fundosBanco__contentInfo__saldo::before {
    content: 'VR$';
    font-size: 20px;

}

.fundosBanco__content__questionInfo,
.fundosBanco__contentInfo__btnCollection,
.fundosBanco__contentInfo__btnCollection button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundosBanco__contentInfo__btnCollection {
    margin-bottom: 20px;
}

.fundosBanco__contentInfo__btnCollection button {
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--colorSec);
    font-size: 20px;
    cursor: pointer;
    color: var(--colorPrim);
    box-shadow: var(--shadowBox);
    transition: .3s ease;
}


.btnCollection__addBtn:hover {
    outline: 1px solid var(--colorSec);
    background-color: var(--colorPrim);
    color: var(--colorSec);

}

.fundosBanco__content__questionInfo {
    position: absolute;
    bottom: 83%;
    left: 85%;
    background-color: var(--colorPrim);
    color: var(--colorInactive);
    padding: 10px;
    border-radius: 50%;
    transition: .3s ease;
    cursor: pointer;
    
}

.fundosBanco__content__questionInfo svg{
    animation: questionAnim .8s linear 1 2s normal;
}

.fundosBanco__content__questionInfo:hover {
    color: var(--colorSec);

}

.fundosBanco__content__infoModal {
    position: absolute;
    top: 0;
    right: -65%;
    width: 60%;
    padding: 5px 10px;
    background-color: white;
    border-radius: var(--borderRadiusFix);
    z-index: 2;
    opacity: 0;
    transition: .2s ease;

}

.fundosBanco__content__infoModal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3%;
    background-color: white;
    width: 25px;
    height: 50px;
    transform: rotate(52deg);
    z-index: -1;
}

.fundosBanco__content__questionInfo:hover ~ .fundosBanco__content__infoModal {
    opacity: 1;
}

@keyframes questionAnim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30%);
    }
    100% 
    {
        transform: translateY(0);
    }
}
