.infoExtra {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infoExtra .infoExtra__content {
    /* border: 1px solid #f3f3f399 */
    width: 22em;
    height: auto;
    margin: 0 1em;
    padding: 15px;
    background-color: white;
    border-radius: var(--borderRadiusFix);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadowBox);
    user-select: none;
    transition: .3s;
    overflow: hidden;
    
}

.infoExtra .infoExtra__content:hover {
    transform: translateY(-10%);

}

/* 
==============================================================
Inicío Título Content 
==============================================================
*/

.infoExtra .infoExtra__content .content__title {
    display: flex;
    align-items: center;

}

.infoExtra .infoExtra__content .content__title .title__icon {
    font-size: 2.65em;
    color: var(--colorSec);
    margin-right: 10px;
    padding: 5px;
    background-color: var(--colorIconBack);
    border-radius: var(--borderRadiusFix);
}

.infoExtra .infoExtra__content .content__title .title__text {
    font-weight: 600;
}


/*
==============================================================
Fim Título Content
==============================================================
*/

.content__infoStatic {
    font-size: 2.1em;
    font-weight: 500;

}

.content__infoStatic,
.content__infoDinamic {
    margin-top: 20px;
}

.infoExtra__content .content__saldoPos p::before {
    content: "+VR$";
}

.infoExtra__content .content__saldoNeg p::before {
    content: "-VR$";
}

.infoExtra__content .content__infoDinamic {
    align-items: normal;
    font-size: 1.5em;
    font-weight: 600;
}

.infoExtra__content .content__infoDinamic p {
    white-space: nowrap;
    animation: autoScrollText 13s alternate linear infinite;

}

@keyframes autoScrollText {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(100%);
    }
}

@media only screen and (max-width: 800px) {
    .infoExtra .infoExtra__content {
        margin: 1em;
        width: 100%;
    }
}