@import url(./var.css);

/* 
============================================
Aba de Navegação dos produtos
============================================
*/
nav.navProd {
    border-radius: 8px;
    width: fit-content;
    background-color: white;
    padding: 10px 5px 20px;
    box-shadow: var(--shadowBox);
    

}

nav.navProd ul {
    display: flex;
    position: relative;

}

nav.navProd ul li {
    margin: 0 10px;
    font-weight: 600;

}

nav.navProd ul li a {
    color: var(--colorSec);
    font-size: 18px;
    position: relative;
    transition: .3s;


}

nav.navProd ul li a:hover {
    color: var(--colorDeg);

}

nav.navProd ul li a.active {
    color: var(--colorDeg);
}

nav.navProd ul::before,
nav.navProd ul li a.active::before {
    content: '';
    position: absolute;
    transform: scale(1);
    transform-origin: left;
    height: 5px;
    left: 0; right: 0;
    bottom: -30%;
    transition: .3s ease;

}

nav.navProd ul::before {
    background-color: #e9e9e9;

}

nav.navProd ul li a.active::before {
    background-color: var(--colorSec);
    
}

nav.navProd ul li:first-child a.active::before {
    animation: activeLinkAnimRight .3s normal forwards;

}

nav.navProd ul li:last-child a.active::before {
    animation: activeLinkAnimLeft .3s normal forwards;

}

/* 
============================================
Estilização dos produtos
============================================
*/

section.produtos h1 {
    font-size: var(--fontSizeContent);
    text-align: center;
    margin: var(--fontMargin);
}



section.produtos .infoExtra {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infoExtra .infoExtra__content {
    width: 250px;
    margin: 0 3em;
    padding: 15px 10px;
    background-color: white;
    border-radius: var(--borderRadiusFix);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--shadowBox);
    user-select: none;
    transition: .3s;
    overflow: hidden;
    
}

.infoExtra .infoExtra__content:hover {
    transform: translateY(-10%);

}

.infoExtra .infoExtra__content .infoExtra__icon {
    margin: 0 auto;
    font-size: 3em;
    color: var(--colorSec);


}

.infoExtra__content .infoExtra__saldoPos,
.infoExtra__content .infoExtra__saldoNeg {
    font-size: 1.65em;
    font-weight: 600;
}

.infoExtra__content .infoExtra__saldoPos {
    color: var(--colorSaldoPos);
}

.infoExtra__content .infoExtra__saldoNeg {
    color: var(--colorSaldoNeg);
}

.infoExtra__content .infoExtra__saldoPos p::before {
    content: "+";
}

.infoExtra__content .infoExtra__saldoNeg p::before {
    content: "-";
}

.infoExtra__content .infoExtra__lastProd {
    align-items: normal;
    font-size: 20px;
    font-weight: 600;
}

.infoExtra__content .infoExtra__lastProd p {
    white-space: nowrap;
    animation: autoScrollText 13s alternate linear infinite;
}


@keyframes activeLinkAnimRight {
    0% {
        transform: translateX(100%);

    }

    100% {
        transform: translateX(0);
    }
}
@keyframes activeLinkAnimLeft {
    0% {
        transform: translateX(-100%);

    }

    100% {
        transform: translateX(0);
    }
}

@keyframes autoScrollText {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(100%);
    }
}

@media only screen and (max-width: 800px) {
    .infoExtra .infoExtra__content {
        margin: 1em;
        width: 100%;
    }
}