@import url(./var.css);

/* 
============================================
Aba de Navegação dos produtos
============================================
*/
nav.navProd {
    border-radius: 8px;
    width: fit-content;
    background-color: white;
    padding: 10px 5px 20px;
    box-shadow: var(--shadowBox);
    

}

nav.navProd ul {
    display: flex;
    position: relative;

}

nav.navProd ul li {
    margin: 0 10px;
    font-weight: 600;

}

nav.navProd ul li a {
    color: var(--colorSec);
    font-size: 18px;
    position: relative;
    transition: .3s;


}

nav.navProd ul li a:hover {
    color: var(--colorDeg);

}

nav.navProd ul li a.active {
    color: var(--colorDeg);
}

nav.navProd ul::before,
nav.navProd ul li a.active::before {
    content: '';
    position: absolute;
    transform: scale(1);
    transform-origin: left;
    height: 5px;
    left: 0; right: 0;
    bottom: -30%;
    transition: .3s ease;

}

nav.navProd ul::before {
    background-color: #e9e9e9;

}

nav.navProd ul li a.active::before {
    background-color: var(--colorSec);
    
}

nav.navProd ul li:first-child a.active::before {
    animation: activeLinkAnimRight .3s normal forwards;

}

nav.navProd ul li:last-child a.active::before {
    animation: activeLinkAnimLeft .3s normal forwards;

}

/* 
============================================
Estilização dos produtos
============================================
*/

section.produtos h1 {
    font-size: var(--fontSizeContent);
    text-align: center;
    margin: var(--fontMargin);

}

section.produtos .mainContent {
    display: grid;
    grid-template: 1fr 1fr/ 50vw 1fr;

}

.mainContent .formMain,
.mainContent .calendar,
.mainContent .quickShortCut {
    height: fit-content;
}

.mainContent .formMain {
    grid-row: span 2;

}

.mainContent .calendar {
    grid-column: 2;
}


.mainContent .quickShortCut {
    grid-area: 2/2;

}



@keyframes activeLinkAnimRight {
    0% {
        transform: translateX(100%);

    }

    100% {
        transform: translateX(0);
    }
}
@keyframes activeLinkAnimLeft {
    0% {
        transform: translateX(-100%);

    }

    100% {
        transform: translateX(0);
    }
}

@media (min-width: 1800px) {
    section.produtos .mainContent {
        grid-template-columns: 55vw 1fr;
    }
}