/* 
============================================
Aba de Navegação dos produtos
============================================
*/
nav.navProd {
    border-radius: 8px;
    width: fit-content;
    background-color: white;
    padding: 10px 5px;
    box-shadow: var(--shadowBox);
    position: relative;
    display: flex;
    align-items: center;

}

nav.navProd ul {
    display: flex;
}

nav.navProd ul li {
    width: 190px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    z-index: 1;
}

nav.navProd ul li a {
    color: var(--colorSec);
    font-size: 18px;
    padding: 0 10px;
    transition: .3s;   

}

nav.navProd ul li a:hover {
    color: var(--colorDeg);

}

nav.navProd ul li a.active {
    color: white;

}

/* 
    Container que indica em qual subPágina o usuário está
*/
nav.navProd .navProd__activeContainer {
    position: absolute;
    width: 190px;
    height: 32px;
    margin: 10px 0;
    background-color: var(--colorSec);
    border-radius: var(--borderRadiusFix);
    transition: .3s ease;
    z-index: 0;

}

nav.navProd ul:has(li:first-child a.active) ~ .navProd__activeContainer {
    transform: translateX(0);

}

nav.navProd ul:has(li:last-child a.active) ~ .navProd__activeContainer {
    transform: translateX(100%);

}



/* 
============================================
Estilização dos produtos
============================================
*/

section.produtos h1 {
    font-size: var(--fontSizeContent);
    text-align: center;
    margin: var(--fontMargin);

}

section.produtos .mainContent {
    display: grid;
    grid-template: auto 1fr/ 50vw 1fr;

}

.mainContent .formMain,
.mainContent .calendar,
.mainContent .quickShortCut {
    height: fit-content;
}

.mainContent .formMain {
    grid-row: span 2;

}

.mainContent .calendar {
    overflow: hidden;
    grid-column: 2;
}


.mainContent .quickShortCut {
    grid-area: 2/2;

}

@media (min-width: 1800px) {
    section.produtos .mainContent {
        grid-template-columns: 55vw 1fr;
    }
}