@import url(./var.css);

.tableContainer {
    /* Pegando o alinhamento central de outra classe (classe "Pai") */
    composes: centerAlign from "./var.css";
    margin-top: 2em;
}

table, td {
    border: 1px solid var(--colorSec);
    border-collapse: collapse;

}

table {
    width: 100%;
    max-width: 60em;
    background-color: white;
    border-radius: var(--borderRadiusFix);
    box-shadow: var(--shadowBox);
    border: none;
    /* Deixar todo conteudo dentro da tabela, mantendo as bordas*/
    overflow: hidden;
}

/*
================================================
~~~~~ Estilização de bordas para a tabela ~~~~~~
================================================
*/


/* Removendo as bordas de cima e de baixo dos elementos */
table tbody td {
    border-top: none;
    border-bottom: none;
}

/* Removendo as bordas da esquerda e direita dos primeiros e ultimos filhos do tr, não incluindo o titulo [tr:not(:first-child)] */
table tbody td:first-child,
table tbody td:last-child {
    border-left: none;
    border-right: none;
}

/*
================================================
~~ Fim da Estilização de bordas para a tabela ~~
================================================
*/

table thead tr:not(.tableTitle) {
    color: var(--colorPrim);
    background-color: var(--colorSec);
    border-radius: 20px;
}

table thead tr.tableTitle th {
    text-align: left;
    font-size: 18px;
    padding: 0.5em 15px;
}

table tbody tr:nth-child(even){
    background-color: rgb(236, 236, 236);

}

table th, table td {
    padding: 10px 15px;

}

table tbody td input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--colorPrim);
    font-family: var(--fontPrim);
    font-size: 16px;
    
    
}
.tableContainer button {
    border: none;
    padding: 5px 10px;
    color: white;
    font-family: var(--fontPrim);
    font-weight: 500;
    border-radius: 4px;
    box-shadow: var(--shadowBox);
    transition: .3s ease;
    cursor: pointer;
}

.tableContent__btns {
    display: flex;
}

.tableContent__btns button {
    margin: 0 5px;
}

.tableContainer button:hover {
    opacity: 0.8;
}

.tableContainer .addBtn {
    background-color: #01083B;
    font-size: 18px;
    margin-top: 1em;
}

.tableContent__btns .editBtn {
    background-color: var(--colorSec);

}

.tableContent__btns .confirmBtn {
    background-color: #076E1F;
}

.tableContent__btns .cancelBtn {
    background-color: #6E0C15;

}



