@import url(./var.css);

.tableContainer {
    margin: var(--marginContent);
}

table, td {
    border-collapse: collapse;

}

table {
    width: 100%;
    background-color: white;
    border-radius: var(--borderRadiusFix);
    box-shadow: var(--shadowBox);
    border: none;
    /* Deixar todo conteudo dentro da tabela, mantendo as bordas*/
    overflow: hidden;
}

table thead tr:not(.tableTitle) {
    color: black;
    text-align: left;
    background-color: #f9f9f9;

}

table tbody td {
    border: none;
    border-bottom: 1px solid #ececec3b;
    table-layout: auto;
    font-family: var(--fontSec);
}

table tbody tr:nth-child(even) {
    background-color: #fdfdfd;
}

table thead tr.tableTitle th {
    text-align: left;
    font-size: var(--fontSizeTitleContent);
    padding: 0.5em 15px;
}


table thead tr th.tableContent__actionTitle {
    width: 15%;
    text-align: center;
}

table th, table td {
    padding: 10px 15px;

}

table tbody td input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--colorPrim);
    font-family: var(--fontSec);
    font-size: 16px;
    padding: 5px 10px;
    border-radius: var(--borderRadiusFix);
    transition: .2s ease;
}

table tbody td input:read-only {
    padding: 5px 0;
    background-color: transparent;
    user-select: none;
    cursor: default;
}

table tbody button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: white;
    font-family: var(--fontPrim);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: var(--shadowBox);
    transition: .3s ease;
    cursor: pointer;
}

.tableContent__btns {
    display: flex;
    justify-content: center;
}

.tableContent__btns button {
    padding: 10px;
    margin: 0 5px;
}

.tableContent__btns button:hover {
    opacity: 0.8;
}

.tableContent__btns .editBtn {
    background-color: var(--colorSec);

}

.tableContent__btns .confirmBtn,
.tableContent__btns .cancelBtn {
    background-color: var(--colorBright);
    color: var(--colorSec);
}




