@import url(./var.css);

.tableContainer {
    margin: var(--marginContent);
}

table, td {
    border-collapse: collapse;

}

table {
    width: 100%;
    background-color: white;
    border-radius: var(--borderRadiusFix);
    box-shadow: var(--shadowBox);
    border: none;
    /* Deixar todo conteudo dentro da tabela, mantendo as bordas*/
    overflow: hidden;
}

table thead tr:not(.tableTitle) {
    color: black;
    text-align: left;
    background-color: #f9f9f9;

}

table tbody td {
    min-width: 200px;
    border: none;
    border-bottom: 1px solid #ececec3b;
    table-layout: auto;
    font-family: var(--fontSec);
}

table tbody tr:nth-child(even) {
    background-color: #fdfdfd;
}

table thead tr.tableTitle th {
    text-align: left;
    font-size: var(--fontSizeTitleContent);
    padding: 0.5em 15px;
}


table thead tr th.tableContent__actionTitle {
    width: 15%;
    text-align: center;
}

table th, table td {
    padding: 10px 15px;

}

table tbody td input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--colorPrim);
    font-family: var(--fontSec);
    font-size: 16px;
    padding: 5px 10px;
    border-radius: var(--borderRadiusFix);
    transition: .2s ease;
}

table tbody td input:read-only {
    padding: 5px 0;
    background-color: transparent;
    user-select: none;
    cursor: default;

}


/* 
===========================================
Informações de Tabela não editáveis
===========================================
*/
table tbody td p { font-weight: 500; }

table tbody td p:is(.specialActive, .specialNotActive) {
    width: fit-content;
    padding: 5px 10px;
    border-radius: var(--borderRadiusFix);

}

table tbody td p.specialActive { background-color: var(--colorBright); }
table tbody td p.specialNotActive { background-color: rgb(253, 127, 127, 0.5); }



table tbody button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: white;
    font-family: var(--fontPrim);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: var(--shadowBox);
    transition: .2s ease;
    cursor: pointer;
}

.tableContent__btns {
    display: flex;
    justify-content: center;
}

.tableContent__btns button {
    padding: 10px;
    margin: 0 5px;
}





