section.salas h1{
    font-size: var(--fontSizeContent);
    margin: var(--fontMargin);
    text-align: center;

}

section.salas h2 {
    margin: var(--marginContent);
}

@media only screen and (max-width: 575px) {
    section.salas h1 {
        text-decoration: underline;
    }

    section.salas h2 {
        text-align: center;
    }
}