@import url(./var.css);

/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        Container da Tabela
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/

.tableContainer {
    margin: var(--marginContent);
}

.tableContainer:not(:last-child) {
    margin-bottom: 3em;
}

/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                          Estilização geral
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/

.tableContainer :is(.generalInfo__container, .splitContainer, .generalInfo__content) {
    display: flex;
    align-items: center;
}

table, td {
    border-collapse: collapse;

}

table {
    width: 100%;
    background-color: white;
    border-radius: var(--borderRadiusFix);
    box-shadow: var(--shadowBox);
    border: none;
    /* Deixar todo conteudo dentro da tabela, mantendo as bordas*/
    overflow: hidden;
}

table thead tr:not(.tableHeader, .tableTitle) {
    color: black;
    text-align: left;
    background-color: #f9f9f9;

}


/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Estilização do Header (contém informações de cliente, pagamento...)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/

.tableHeader {
    background-color: var(--colorSec);
    font-size: 17px;
}

.generalInfo__container { justify-content: space-between; }

:is(.generalInfo__container, .splitContainer) { gap: 2em; }

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Estilização de Content (texto, subtítulos...)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.generalInfo__content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    text-align: center;
}

.generalInfo__content span{
    font-family: var(--fontPrim);
    font-weight: 600;
    color: white;
    border-bottom: 2px solid white;
}

.generalInfo__content p {
    font-family: var(--fontSec);
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.infoProd__status p{
    padding: 5px 15px;
    font-weight: 500;
    color: white;
    background-color: var(--colorSaldoPos);
    border-radius: var(--borderRadiusFix);
}

.generalInfo__container .payBtn {
    padding: 15px 25px;
    background-color: var(--colorSec);
    font-weight: 600;
    letter-spacing: .2px;
}

.generalInfo__container .payBtn:hover {
    outline: 1px solid var(--colorSec);
    background-color: white;
    color: var(--colorSec);
    opacity: 1;
}


/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Estilização de situação de Pagamento "Não Pago"
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.notPaid { background-color: var(--colorBright); }

.notPaid .generalInfo__content span {
    font-weight: 700;
    color: var(--colorSec);
    border-bottom: 2px solid var(--colorSec);
}

.notPaid .generalInfo__content p { color: black; }

.notPaid .infoProd__status p { background-color: var(--colorSaldoNeg); color: white;}


/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Estilização dos campos das informações
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/

table thead tr.tableTitle th {
    text-align: left;
    font-size: var(--fontSizeTitleContent);
    padding: 0.5em 15px;
}


table thead tr th.tableContent__actionTitle {
    width: 15%;
    text-align: center;
}

table th, table td {
    padding: 10px 15px;

}

/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Estilização de Registros
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/

table tbody td {
    min-width: 200px;
    border: none;
    border-bottom: 1px solid #ececec3b;
    table-layout: auto;
    font-family: var(--fontSec);
}

table tbody tr:nth-child(even) {
    background-color: #fdfdfd;
}

table tbody td input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--colorPrim);
    font-family: var(--fontSec);
    font-size: 16px;
    padding: 5px 10px;
    border-radius: var(--borderRadiusFix);
    transition: .2s ease;
}

table tbody td input:read-only {
    padding: 5px 0;
    background-color: transparent;
    user-select: none;
    cursor: default;

}


/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Informações de Tabela não editáveis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

table td p:is(.specialActive, .specialNotActive) {
    width: fit-content;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: var(--borderRadiusFix);

}

table td p.specialActive { background-color: var(--colorBright); }
table td p.specialNotActive { background-color: rgb(253, 127, 127, 0.5); }



table tbody button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: white;
    font-family: var(--fontPrim);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: var(--shadowBox);
    transition: .2s ease;
    cursor: pointer;
}

.tableContent__btns {
    display: flex;
    justify-content: center;
}

.tableContent__btns button {
    padding: 10px;
    margin: 0 5px;
}


/* 
===================================================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Estilização do Tfooter (localização do Valor TOTAL)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
===================================================================
*/
table tfoot th {
    text-align: left;
    font-size: 1.3em;
}

table tfoot th p {
    width: fit-content;
    padding: 5px;
    background-color: var(--colorBright);
    color: var(--colorSec);
    border-radius: var(--borderRadiusFix);
}

table tfoot th p span.moneyText { font-size: 18px; }


@media only screen and (max-width: 1399px) {
    .tableContainer {
        overflow: hidden;
        overflow-x: scroll;
    }
}





